.nav-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 70%;
margin-right: 5rem;
margin-left: 2rem;

}

.nav-item{
padding: 0.8rem;
margin: 0.5rem;
text-decoration: none;
color: black;
transition: background-color 0.4s ease, color 0.4s ease;
border-radius: 5px;
font-size: 1.5rem;
width: 20%;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-item:hover{
background-color: rgb(155, 149, 149);
color: white;
border-radius: 7px;
}