.contaner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: #f1e7e7;
    width: 30vw;
    height: 30vh;
    color: black;
    
  }

.contaner > p {
    font-size: 20px;
    font-weight: bolder;
}

.navigat {
    color: brown;
    font-size: 20px;
    font-weight: bolder;
}